{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %}Projets{% endblock %}

{% block content %}
<section class="container mx-auto py-16 px-6">
    <h2 class="text-4xl font-bold text-center mb-10 text-gray-800 dark:text-blue-700">
        Mes Projets
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">

        <!-- Projet 1 -->
        <div class="bg-white dark:bg-gray-800 p-6 rounded-2xl shadow-md hover:shadow-lg transition-all duration-300">
            <img src="{% static 'portfolio/images/iot.png' %}" alt="Projet IoT" class="w-full h-48 object-cover rounded-lg mb-4">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white mb-2">Projet IoT</h3>
            <p class="text-gray-600 dark:text-gray-300 mb-4">
                Développement d’une solution connectée pour la gestion intelligente de l’énergie et de l’eau.
            </p>
            <a href="https://github.com/achrafgetin/projet_iot_itirc25.git" target="_blank" class="text-blue-600 hover:underline">
                Voir le projet sur GitHub →
            </a>
        </div>

        <!-- Projet 2 -->
        <div class="bg-white dark:bg-gray-800 p-6 rounded-2xl shadow-md hover:shadow-lg transition-all duration-300">
            <img src="{% static 'portfolio/images/portfolio.png' %}" alt="Portfolio Personnel" class="w-full h-48 object-cover rounded-lg mb-4">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white mb-2">Portfolio Personnel</h3>
            <p class="text-gray-600 dark:text-gray-300 mb-4">
                Création d’un site portfolio professionnel en Django et Tailwind CSS pour mettre en valeur mes projets.
            </p>
            <a href="https://github.com/abderrazakit/portfolio.git" target="_blank" class="text-blue-600 hover:underline">
                Voir le projet sur GitHub →
            </a>
        </div>

    </div>
</section>
{% endblock %}
