{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}Projets{% endblock %}
{% block content %}
<section class="container mx-auto py-16 px-6">
    <h2 class="text-4xl font-semibold text-center mb-6">Mes Projets</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
        <div class="bg-white p-6 rounded-lg shadow-md">
            <img src="{% static 'portfolio/images/iot.png' %}" alt="{{ project.title }}" class="w-full h-48 object-cover rounded-t-lg">
            <h3 class="text-xl font-semibold mt-4">{{ project.title }}</h3>
            <p class="text-gray-600">{{ project.description|truncatewords:15 }}</p>
            <a href="https://github.com/achrafgetin/projet_iot_itirc25.git" target="_blank">Voir le projet sur GitHub</a>
        </div>
    </div>
</section>
{% endblock %}
